.side-menu{
	width:15%;
	height: 100%;
	position: fixed;
	top: 0px;
	background-color: #222;
	text-align: center;
	padding: 48px;
}

.side-menu-brand{
	color: aquamarine;
	font-size: 24px;
}

.side-menu > ul {
	margin-top: 64px;
}

.side-menu > ul > li{
	margin-top:12px;
}

.side-menu > ul > li > a{
	color: #f2f2f2;
	font-size: 18px;
}


.side-menu-alt-text{
	position: absolute;
	padding: 12px;
	color: #606060;
	left: 0; 
	right: 0;
	bottom: 25px;
}

.active{
	color: #ff38e0;
}

.triangle{
	position: absolute;
	top: 48px;
	right: -20px;
	
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 20px solid #222;
	border-bottom: 15px solid transparent;

}
