.side-menu{
	overflow: hidden;
	width:15%;
	height: 100%;
	position: fixed;
	top: 0px;
	background-color: #222;
	text-align: center;
	padding: 48px;
}

.side-menu-brand{
	color: aquamarine;
	font-size: 24px;
}

.side-menu > ul {
	margin-top: 64px;
}

.side-menu > ul > li{
	margin-top:12px;
}

.side-menu > ul > li > a{
	color: #f2f2f2;
	font-size: 18px;
}


.side-menu-alt-text{
	position: absolute;
	padding: 12px;
	color: #606060;
	left: 0; 
	right: 0;
	bottom: 25px;
}