.food-card-image{
	z-index: 5;
}
.food-card{
	
}

.food-card-on-hover-wrapper{
	position:absolute;
	margin-top: -17%;
}

.food-card-on-hover-wrapper > .chips-wrapper{
	left: 0;
	bottom:0px;
}

.chip.kcal{
	background-color:#daa6a6;
}
.chip.carbs{
	background-color:#dad2a6;
}

.food-card-on-hover-wrapper p{
	text-transform: uppercase;
	color:#f7f7f7;
	z-index: 10;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.5);
}
